.game{
  &__tabs{
    background: rgb(63 82 181 / 61%);
    color: #ffffff;
    text-align: left;
    padding: 10px;

    &-tabs{
      padding: 20px 20px 0 20px;
      margin-bottom: 0;
    }

    &-link{
      color: #ffffff;
    }

    &-votes{
      margin-left: 20px;
      display: flex;

      &-count{
        margin-left: 5px;
      }
    }
    .mat-tab-label{
      color: white;
    }
    .mat-tab-labels{
      justify-content: center;
      background: #3f51b5;
    }
  }
  &__votes{
    &-up {
      color: #5ee432;
    }
    &-down{
      color: #ef4655;
    }
    &-count{
      margin-left: 5px;
      margin-right: 10px;
      vertical-align: super;
    }
  }

  &__description{
    padding: 20px;
  }

  &__screenshot{
    margin-top: 5px;
    width: calc(50% - 10px);
    &:nth-child(even){
      margin-left: 10px;
    }
  }

  &__trailer{
    width: 100%;
    margin: 20px 0;
  }
}



